 
  <div class="container1">
    <!-- card container -->
    <div class="card1">
        <!-- red card -->
        <div class="red" id="red">
            <div class="round"></div>
        </div>
        <!-- orange card -->
        <div class="orange" id="orange">Meenakshi</div>
        <!-- yellow card -->
        <div class="yellow" id="yellow">Sowmya</div>
        <!-- green card -->
        <div class="green" id="green">Bavadharani</div>
        <!-- brown card -->
        <div class="brown" id="brown">Praveen</div>
        <!-- voilet -->
        <div class="voilet" id="voilet">Abdul</div>
    </div>
  </div>
