<div class="container">
  <div class="wrap">
    <div class="content" @sliderLeft *ngIf="!doneImg" > Click here Login button for go to the login Page 
      <div><button class="login_btn" *ngIf="buttonHide" (click)="loginShow()">Log in</button></div>
    </div>
    <div class="login"  *ngIf="loginPage" @slider>
      <div class="padTen"><label>User Name:</label>
        <input type="text" placeholder="UserName" /></div>
      <div class="padTen"><label>Password:</label>
        <input type="password" placeholder="Password"/></div>
     <!-- <div class="padTen"> <label>Gender:</label>
      <input type="radio">Male
      <input type="radio">Female</div> -->
     <div class="center"><a class="waves-effect waves-light btn SubmitBtn" (click)="done()">Submit</a></div>
    </div>
    <div class="DoneImg center" *ngIf="doneImg" @visible>
      <img src="assets/Done.svg" alt="">
      <p class="loginmsg">Login successful</p>
    </div>
  </div>
 <app-animsample></app-animsample>
</div>

